.section-about
    padding: 15rem
    padding-bottom: 0
    overflow: hidden
    background: $light-grey
    position: relative
    p:not(:last-child)
        margin-bottom: 1rem
    &--abhivarta
.slidein-image
    position: relative
    left: 2rem
    margin-bottom: -60px
    width: 100%
    height: auto
    z-index: 99

    // transform: translateY(100%)
